[submodule "docs"]
	path = docs
	url = git@github.com:juniorjrjl/algashop-docs.git
	branch = main
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:juniorjrjl/algashop-ordering.git
	branch = main
[submodule "template"]
	path = template
	url = git@github.com:juniorjrjl/algashop-template.git
	branch = main
[submodule "microservices/billing-scheduler"]
	path = microservices/billing-scheduler
	url = git@github.com:juniorjrjl/algashop-billing-scheduler.git
	branch = main
